@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');
*{
	margin: 0;
	padding: 15px;
	box-sizing: border-box;
	font-family: 'Chalkduster', fantasy;
	background-color: #D8BFD8;
}

body{
	overflow: hidden;
}

.container{
	width: 100%;
	min-height: 100vh;
	background-color: #D8BFD8;
}

/

.wrapper{
	display: flex;
	width: 100%;
	justify-content: left;
	align-items: center;
	padding: 0 10%;
	overflow: hidden;
	
}

.cols{
	width: 50%;
}

.topline{
	display: block;
	height: 70px;
	position: relative;
	font-size: 50px;
	letter-spacing: 5px;
	color: white;
}

.topline::after{
	position: absolute;
	content: '';
	height: 4px;
	width: 45px;
	bottom: 10px;
	background-color: #D8BFD8;
}

h1{
	display: block;
	font-size: 7em;
	font-weight: 900;
	color: #3d535f;
}

.multiText{
	color: #9370DB;
	text-transform: capitalize;
}

p{
	display: block;
	width: 90%;
	font-size: 1.2em;
	color: #3d535f;
}

.btns{
	width: 100%;
	position: relative;
	left: 0px;
}

button{
	outline: none;
	border: none;
	cursor: pointer;
	font-size: 25px;
	font-weight: 400;
	color: #fff;
	background-color: #3d535f;
	padding: 8px 3px;
	margin: 40px 5px;
	letter-spacing: 2px;
	text-transform: capitalize;
	box-shadow: 0 15px 10px rgba(0,0,0,0.4);
}

button:hover{
	background-color: #9370DB;
}

.imgbox{
	position: relative;
	height: 100%;
	width: 100px;
	top: -500px;
	right: -800px;
	animation: animateUser 4s linear infinite;
}

@keyframes animateUser{
	50%{
		right: -800px;
		top: -550px;
	}
}